<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbVW8Fg1RWVwEyLe_hMHJfDlp79rylqXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>128398320231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelhubb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hotelhubb-e1d01</string>
	<key>STORAGE_BUCKET</key>
	<string>hotelhubb-e1d01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128398320231:ios:5580b006e3dfd4a2066ac2</string>
</dict>
</plist>